PORT=5000
MONGO_URI=mongodb+srv://admin:mywebprojectpassword@cluster0.qm98gbn.mongodb.net/moodApp?retryWrites=true&w=majority
JWT_SECRET=53c5d70e545f5e5931aefc423560163bff897e41cd0ef066ccf3ddfa13a36f4c
